body {
  font: 400 16px 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  }

.app {
  /* height: 100vh; */
  padding-left: 25vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.app-header {
  display: flex;
  width: 50vw;
  text-align: center;
  flex-direction: column;
}

.app-controls {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.app-table {
  height: 80vh;
  overflow-y: scroll;
}

select {
  font-size: 14px;
}
