:root {
  font: 400 16px 'Roboto', sans-serif;
}

body {
  background: #ABB7B7;
  margin: 0, auto;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.app-table {
  display: flex;
  background: #EFEFEF;
  border-radius: 4px 4px 0 0;
}

.app-header {
  display: flex;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.season-week-filter {
  display: flex;
  margin: 5px;
  text-align: center;
}

.position-filter {
  display: flex;
  margin: 5px;
  text-align: center;
}

button {
  font-size: 14px;
}

select {
  font-size: 14px;
}

/* Table Styling */

table {  
  color: #6C7A89;
  width: 640px; 
  border-collapse: collapse; 
  border-spacing: 0; 
}

td, th {  
  border: 1px solid transparent;
  height: 30px; 
  transition: all 0.3s;  /* Transitiion for hover effect */
}

th {  
  background: #DADFE1;  
  font-weight: bold;
}

td {  
  background: #EFEFEF;
  text-align: center;
}

/* Table Row Styling */
tr:nth-child(even) td { background: #F1F1F1; }   
tr:nth-child(odd) td { background: #FEFEFE; }  

/* Hover Effect */
tr td:hover { background: #666; color: #FFF; }  

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    :root {
      font: 400 12px 'Roboto', sans-serif;
    }
    
    .app-header {
      display: none;
      font-size: 14px;
      margin: 0px;
    }
    
    .season-week-filter {
      display: none;
      margin: 0px;
    }
    
    .position-filter {
      display: none;
      margin: 0px;
    }
    
    .app-pagination{
      display: none;
    }

    button {
      font-size: 10px;
    }
    
    select {
      font-size: 10px;
    }
    
    /* Table Styling */
    
    table {  
      color: #6C7A89;
      width: 100%; 
      height: 100%;
      border-collapse: collapse; 
      border-spacing: 0; 
    }
    
    td, th {  
      border: 1px solid transparent;
      height: 30px; 
      transition: all 0.3s;  /* Transitiion for hover effect */
    }
    
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}